<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <button onclick="window.location.href='{% url 'home' %}'">Accueil</button>
    <h1>Informations sur l'équipe</h1>
    <h2>{{ team.nickname }}</h2>

    <p>{{ message }}</p>

    <p>
        <button onclick="window.location.href='{% url 'team_data' team_name %}'">Données de l'équipe en JSON</button>
    </p>
</body>
</html>
